// ======================================
//  Containers
// ======================================
.wrapper {
  display: flex;
  justify-content:center;
  margin:0 auto;
  padding:20px;

}
.mejs__container {
  margin: 0 auto;
  display: block;
  width:100%;
}
