// ======================================
//  Containers
// ======================================
.wrapper {
  margin:0 auto;
  padding: 2% 4%;
  //border: solid 1em #fff;
}

.content-video {
  width:95%;
  max-width: 680px;
  margin: 0 auto;
}

