// The universal selector (*)
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  //text-align: center;
}
p {
  line-height:1.5em;
}
p span {
  padding-top:0.5em;
  padding-bottom:0.5em;
}